<nav class="navbar navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="#">Example</a>
</nav>


<main role="main" class="container">
  <div class="row">
    <div class="col-sm-3">
      <app-hello [name]="findName()"></app-hello>
      <app-hello></app-hello>
    </div>
    <div class="col-sm-3">
      <app-hello2></app-hello2>
    </div>
    <div class="col-sm-3">
      <app-hello3></app-hello3>
    </div>
    <div class="col-sm-3">
      <app-hello4></app-hello4>
    </div>
  </div>
  <div class="row">
    <app-weather></app-weather>
  </div>
</main>
